{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles/fonts.css" type="text/css"/>
    <link rel="stylesheet" href="/static/styles/misc.css" type="text/css"/>
    <link rel="stylesheet" href="/static/styles/boxes.css" type="text/css"/>
  </head>
  <body>
    {{template "top"}}
    {{template "content" .}}
  </body>
  <footer>
    <div class="user">
    {{- if .SessionId}}
      Session identifier: <code>{{.SessionId}}</code>
    {{- end}}
    {{- if .Subject}}
      <div class="c1-btn--primary l-flex logout persimmon">
        <a href="/logout">Logout</a>
      </div>
    {{- end}}
    </div>
  </footer>
</html>
{{end}}
