{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles/fonts.css" type="text/css"/>
    <link rel="stylesheet" href="/static/styles/misc.css" type="text/css"/>
    <link rel="stylesheet" href="/static/styles/boxes.css" type="text/css"/>
  </head>
  <body>
    {{template "top"}}
    {{template "content" .}}
  </body>
  <footer>
    {{- if .SessionId}}
    <div class="session_id">
      Session identifier: <code>{{.SessionId}}</code>
    </div>
    {{- end}}
  </footer>
</html>
{{end}}
