{{/* template:Index */}}
{{define "content"}}
    <section class="p-style-buttons u-margin-bottom">
        <div class="content">
          <div class="l-flex__item l-flex l-flex--column p-style-buttons__background p-style-buttons__background--light u-margin-bottom">
{{- if .Subject}}
            <p class="t1-heading-3 u-margin-bottom-large">
              Hello, {{.Subject}}!
{{- else }}
            <p>
{{- end }}
            </p>
	    <div>
{{- if not .Subject }}
            <a class="c1-btn c1-btn--primary button-bottom persimmon" href="/login/init">Login</a>
{{- end }}
            </div>
          </div>
        </div>
    </section>
{{- end}}
