{{define "top"}}
    <!-- BEGIN top bar -->
    <nav class="navbar">
      <div>
	<div class="navbar-text">
          Sample Web App
	</div>
	<div class="navbar-brand">
          <a href="#">
            <img alt="SUSE Logo" src="https://static.scc.suse.com/assets/suse-white-logo-green-9f0302c0fa1761b18a9779355da14916d6d37208ac95ad4db2856f73b71aa8c7.svg">
          </a>
	</div>
      </div>
    </nav>
    <div class="navbar-end-line">
      <div class="header-end-line-persimmon"></div>
      <div class="header-end-line-green"></div>
      <div class="header-end-line-waterhole-blue"></div>
      <div class="header-end-line-mint"></div>
    </div>
    <!-- END top bar -->
{{end}}
